<div id="dashboard" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex fxLayout class="p-24">
      <div class="tile mx-20" fxFlex="17" fxLayout="column" fxLayoutAlign="start">
        <div fxFlex fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Time In Full (OTIF)</span>
        </div>
        <div fxFlex fxLayoutAlign="center" class="pt-8">
          <!-- <div class="outer-circle">
            <div class="inner-circle">

            </div>
          </div> -->
          <!-- <mat-progress-spinner class="example-margin" color="accent" mode="determinate" value="75">
            <div class="inner-circle">

            </div>
          </mat-progress-spinner> -->
          <circle-progress [percent]="85" [radius]="60" [subtitleFormat]="formatSubtitle" [subtitleColor]="'#ee4057'"
            [outerStrokeWidth]="5" [innerStrokeWidth]="2" [outerStrokeColor]="'#f3705a'" [innerStrokeColor]="'#f3705a'">
          </circle-progress>

        </div>
      </div>
      <div class="tile mx-20" fxFlex="17" fxLayout="column" fxLayoutAlign="start">
        <div fxFlex fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Quality Index</span>
        </div>
        <div fxFlex fxLayoutAlign="center" class="pt-8">
          <circle-progress [percent]="97" [radius]="60" [showSubtitle]="false" [subtitleColor]="'#ee4057'"
            [outerStrokeWidth]="5" [innerStrokeWidth]="2" [outerStrokeColor]="'#f3705a'" [innerStrokeColor]="'#f3705a'"
            [animation]="true" [animationDuration]="300">
          </circle-progress>

        </div>
      </div>
      <div class="tile mx-20" fxFlex="30" fxLayout="column" fxLayoutAlign="start">
        <div fxFlex fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Fulfilment </span>
        </div>
        <div fxFlex fxLayoutAlign="start" class="pt-8">
          <ngx-charts-pie-chart [view]="[200, 150]" [scheme]="{domain: ['#fb863a', '#40a8e2', '#485865','#40ed9a']}"
            [results]="Fulfilments" [doughnut]="true" [labels]="false" [legend]="true" [legendTitle]="''"
            [labelFormatting]="pieChartLabel.bind(this, Fulfilments)">
          </ngx-charts-pie-chart>
          <!-- <ngx-donut-chart [data]="donutChartData" [title]="'Sessions'" [radius]="88" [thickness]="10" [margin]="30">
          </ngx-donut-chart> -->
        </div>
      </div>
      <div class="tile mx-20" fxFlex="36" fxLayout="column" fxLayoutAlign="start">
        <div fxFlex fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Delivery status </span>
        </div>
        <div fxFlex fxLayoutAlign="start" class="pt-8">
          <ngx-charts-bar-vertical-2d [view]="[250,150]" [scheme]="{domain: ['#fb863a', '#40a8e2']}"
            [results]="DeliveryStatus" [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="true"
            [showXAxisLabel]="false" [showYAxisLabel]="false" [legendTitle]="''">
          </ngx-charts-bar-vertical-2d>
          <!-- <ngx-donut-chart [data]="donutChartData" [title]="'Sessions'" [radius]="88" [thickness]="10" [margin]="30">
          </ngx-donut-chart> -->
        </div>
      </div>
    </div>
    <div class="sidenav-content mt-4" fxFlex fxLayout>


    </div>
  </div>
  <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
  </mat-progress-spinner>
  <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
</div>